.intrinsic-box a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
  }
.boton{
    position: fixed;
    z-index: 99999;
    top: 33%;
    left:19%;
    width:60%;
    height:40%;
}
.boton1{
    position: fixed;
    z-index: 99999;
    top: 82%;
    right:2%;
    width:5%;
    height:8%;
}